src/log.txt
src_downloader/credentials.json
.DS_Store
.DS_Store
ADV.pdf
.Rproj.user


data_downloaded/
CNS.Rproj
Project slides Template.pdf
.Rhistory
src_downloader/log.txt
testFollowers/
testFollowers/1715947683.json
testFollowers/1715952137_1.json
testFollowers/1715952137_2.json
testFollowers/1715954005.json
testFollowers/1715954090_2.json
testFollowers/1715954090.json
testFollowers/a.json
testFollowers/b.json
testFollowers/node.js
